<form action= "/square_root/results">
<div>
  <label for="user_num">Enter a number</label>
  <input id="user_num" name="user_num" placeholder="Any number">
  <button> Calculate square root</button>
</div>
